nav {
  background-color: #5fcbdc;
  .breadcrumb {
    background-color: transparent;
  }
  a {
    color: #35495e;
  }
  a:hover {
    text-decoration: none;
  }
  h1 {
    padding-bottom: 1rem;
  }
  .active {
    color: white;
  }
}
section.link-holder {
  background-color: #f5f3f3;
  border: 1px solid #e9e9e9;
  ul {
    list-style: none;
    li {
      float: left;
      padding: 7px 10px;
      h4 {
        margin: 1px 0 2px 0;
        color: #919191;
        font-weight: normal;
        font-size: 0.8706em;
        line-height: 1;
      }
      .number {
        font-size: 1.3195em;
        line-height: 1.2;
      }
      .secondary {
        text-align: center;
      }
    }
    li:nth-child(3) {
      text-align: center;
    }
  }
}
.link-holder:first-of-type {
  display: flex;
}

.back {
  background-color: #42b883;
  color: white;
  margin-top: 5rem;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid currentColor;
  border-radius: 0.5rem;
  display: inline-block;
  transition: all 0.3s ease;
  &:hover {
    background-color: transparent;
    color: #42b883;
  }
}
:deep() {
  h1 {
    font-size: 3rem;
    margin-bottom: 0.2rem;
    color: #42b883;
  }
  h4 {
    margin-bottom: 3rem;
    color: #35495e;
  }
  p {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
  }
  pre {
    width: 100%;
    background-color: #35495e;
    color: white;
    border-radius: 0.3rem;
    padding: 1rem;
  }
  img {
    max-width: 100%;
  }
}
.created-at{
  a{
    width: 10%;
    height: 10%;
    padding: 4px;
    color: #000;
  }
}
.comment {
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    h2 {
      color: white;
    }
  }
  #reply {
    color: #42b883;
    cursor: pointer;
  }
  #reply:hover {
    text-decoration: none;
    color: #5fcbdc;
  }
  .display-none {
    display: none;
  }
  a {
    font-size: 0.75rem;
  }
  span.relative-date {
    white-space: nowrap;
    font-size: medium;
    color: #919191;
  }
}
.replay{
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    h2 {
      color: white;
      font-size: 24px;
      padding-top: .24rem;
     
    }
  }
  h5{
    text-transform:capitalize;
    margin-right: .25rem;;
  }
}